<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Bienvenue sur Polldance</h3>
                        <p class="card-text text-center">
                            Cette application vous permet de donner votre avis sur les cours de l'ISIMA.
                        </p>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">OK</button>
                        </form>
                        <p class="mt-3">
                            Votre nom d'utilisateur se compose des 2 premières lettres de votre prénom suivies de votre nom de famille. Exemple : Jean Dupont -> jedupont.
                        </p>
                        <p>
                            <strong>Fonctionnement de l'application:</strong>
                            <ul>
                                <li>
                                    Vous pouvez ajouter des avis sur les cours. CHAQUE AVIS DOIT ÉVOQUER UNE SEULE IDÉE.
                                    Exemple: avis voulant être donné: "Le cours est très intéressant et le professeur est très pédagogue."
                                    Ce commentaire doit être séparé en deux avis (opinions) distincts:
                                    <ul>
                                        <li>"Le cours est très intéressant."</li>
                                        <li>"Le professeur est très pédagogue."</li>
                                    </ul>
                                    Ceci permet d'éviter les doublons et de faciliter la lecture des avis.
                                </li>
                                <li>
                                    Vous pouvez consulter les avis des autres utilisateurs. Et voter pour les avis qui vous semblent pertinents. 
                                    <!-- note de 0 à 10. 0: pas d'accord, 5: neutre, 10: tout à fait d'accord. -->
                                </li>
                                <li>
                                    Merci de rester courtois et respectueux dans vos avis. Cela n'empeche pas de donner un avis critique ou négatif.
                                </li>
                                <li>
                                    On ne peut pas relier un avis à un utilisateur. Les avis sont anonymes. Tout comme les notes.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Si vous voulez contribuer à l'amélioration de l'application, vous pouvez consulter le code source sur <a href="https://gitlab.isima.fr/yogourves/polldance">Gitlab</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>